<IfModule mod_rewrite.c>
    RewriteEngine On

    # Autoriser l'accès au dossier vendor
    RewriteRule ^vendor/ - [L]

    # Empêche la réécriture si le fichier ou le dossier existe
    RewriteCond %{REQUEST_URI} !^/public/ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Empêche la redirection infinie vers public si déjà dans public
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ - [L]
</IfModule>
