DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Exclure le répertoire vendor de la réécriture
    RewriteCond %{REQUEST_URI} !^/vendor/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
